.clear {
  clear: both;
}
.pre {
  text-align: left;
  max-width: 540px;
  margin: 0 auto 20px;
}

.callbacks {
  margin: 0 auto 40px;
}


.callbacks_tabs {
	list-style: none;
	position: absolute;
	top: 83.5%;
	z-index: 999;
	left: 44.5%;
	padding: 0em 0.6em 1em 0.3em;
	margin: 0;
}
.callbacks_tabs li {
	display: inline-block;
	margin: 0.5em;
}
.callbacks_tabs a {
	visibility: hidden;
}
.callbacks_tabs a:after {
	content: "\f111";
	font-size: 0;
	font-family: FontAwesome;
	visibility: visible;
	display: block;
	width:12px;
	height: 12px;
	display: inline-block;
	background: #fff;
	border: none;
	border-radius: 50%;
}
.callbacks_here a:after {
	background: #000;
}

.callbacks_tabs {
  list-style: none;
  position: absolute;
  padding: 0;
  margin: 0;
  z-index: 90;
  display: block;
  text-align: center;
}
.slider-top span{
font-weight:600;
}
.callbacks_tabs li{
     display: inline-block;
  margin: 0 7px;
}

.events {
  list-style: none;
}

.callbacks_container {
  margin-bottom: 50px;
  position: relative;
  float: left;
  width: 100%;
}

.callbacks {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}

.callbacks li {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}

.callbacks img {
  display: block;
  position: relative;
  z-index: 1;
  height: auto;
  width: 100%;
  border: 0;
  transition: all .5s;
}


.callbacks .caption {
  display: block;
  position: absolute;
  top: 50%;
  z-index: 2;
  text-align: center;
  width: 100%;
  height: 100%;
  color: white;
  transition: all .5s;
}
.callbacks .caption h1 {
  font-size: 3.75rem;
  font-weight: 600;
  margin-bottom: 10px;
  letter-spacing: 3px;
}
.callbacks .caption p {
  font-size: 1.2rem;
  color: #d3d8d8;
  letter-spacing: 2px;
}

.callbacks_nav {
  position: absolute;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  top: 60%;
  left: 40px;
  opacity: 0.7;
  z-index: 3;
  text-indent: -9999px;
  overflow: hidden;
  text-decoration: none;
  height: 64px;
  width: 64px;
  background: url("../images/left-arrow.png") no-repeat left top;
}

.callbacks_nav:active {
  opacity: 1;
}

.callbacks_nav.next {
  left: auto;
  background: url("../images/right-arrow.png") no-repeat 0px 0px;
  right: 40px;
}

#slider3-pager a {
  display: inline-block;
}

#slider3-pager img {
  float: left;
}

#slider3-pager .rslides_here a {
  background: transparent;
  box-shadow: 0 0 0 2px #666;
}

#slider3-pager a {
  padding: 0;
}

@media screen and (max-width: 600px) {
  h1 {
    font: 24px/50px "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  .callbacks_nav {
    top: 47%;
  }
}
